# Django Configuration
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
DATABASE_NAME=db.sqlite3

# Testing Configuration (opcional)
# DATABASE_TEST_NAME=test_db.sqlite3