.card.events{
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
}

.card.events .form-control {
    color: #000000;
}
.crearEvento:hover{
    background: #43b982 !important;
    color: #fff !important;
}

.toast-msg {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: #1e1e2f;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 9999;
  font-size: 0.95rem;
}
.toast-msg.show {
  opacity: 1;
  transform: translateY(0);
}
.toast-success {
  background-color: #43b9827d;
}
.toast-info {
  background-color: #0d6dfd82;
}
.toast-error {
  background-color: #e4222c85;
}

.btn-fav-toggle i {
  transition: all 0.3s ease;
}

/* Estrella marcada */
.btn-fav-toggle i.bi-star-fill.text-warning.fav-glow {
  filter: drop-shadow(0 0 6px gold) drop-shadow(0 0 12px #ffeb3b);
}

.table-wrapper-events {
  overflow: hidden;
  width: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.draggable-scroll {
  overflow-x: auto;
  cursor: grab;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.draggable-scroll:active {
  cursor: grabbing;
}

.draggable-scroll::-webkit-scrollbar {
  height: 6px;
}
.draggable-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.table-events {
  backdrop-filter: blur(8px);
  border-radius: 12px;
  overflow: hidden;
  animation: fadeIn 0.4s ease-out both;
  width: 100%;
  min-width: 800px; /* 👈 fuerza scroll en mobile */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
  .table-events {
    min-width: 700px;
  }
}


.encabezadoEventos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.botonesEventos {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 520px) {
  .encabezadoEventos {
    flex-direction: column;
    align-items: flex-start; /* ⬅ para que los botones vayan a la izquierda */
  }

  .botonesEventos {
    flex-direction: column;
    width: 70%;
    a{
        border-radius: 10px !important;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        -ms-border-radius: 10px !important;
        -o-border-radius: 10px !important;
}
  }

  .botonesEventos .btn {
    width: 100%;
    text-align: left;
  }
}